 .u-section-1 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(248, 208, 141, 0.04), rgb(255, 251, 235));
  background-size: cover;
}

.u-section-1 .u-sheet-1 {
  min-height: 366px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  text-decoration: underline !important;
  margin: 52px 570px 0 0;
}

.u-section-1 .u-list-1 {
  width: 1111px;
  grid-template-rows: repeat(3, auto);
  margin: 12px auto 39px 0;
}

.u-section-1 .u-repeater-1 {
  grid-auto-columns: 100%;
  grid-template-columns: repeat(1, 100%);
  min-height: 209px;
  --gap: 10px;
}

.u-section-1 .u-container-layout-1 {
  padding: 27px 15px 21px;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  margin: 1px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-list-1 {
    width: 940px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 350px;
  }

  .u-section-1 .u-list-1 {
    width: 720px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-top: 29px;
    margin-right: 170px;
    margin-bottom: 60px;
  }

  .u-section-1 .u-list-1 {
    width: 540px;
    margin-top: 90px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.1111111111111112rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-top: 22px;
    margin-right: 0;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
    margin-top: 155px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 905px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 65px;
  margin-bottom: 40px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 174px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 30px 30px 0;
}

.u-section-2 .u-text-1 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 3rem;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 174px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 0 30px;
}

.u-section-2 .u-text-2 {
  margin: 0;
}

.u-section-2 .u-btn-1 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 31px auto 0 0;
  padding: 0;
}

.u-section-2 .u-image-1 {
  min-height: 577px;
  background-image: url("/images/photo-1706862609885-7771b001daa2.jpeg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-3 {
  padding: 0 29px;
}

.u-section-2 .u-group-1 {
  min-height: 190px;
  width: 406px;
  height: auto;
  margin: 0 auto 0 17px;
}

.u-section-2 .u-container-layout-4 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-2 .u-text-3 {
  margin: 0;
}

.u-section-2 .u-text-4 {
  margin: 20px auto 0 0;
}

.u-section-2 .u-image-2 {
  min-height: 577px;
  background-image: url("https://images.pexels.com/photos/20445181/pexels-photo-20445181/free-photo-of-farmer-in-india.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-5 {
  padding: 0 29px;
}

.u-section-2 .u-group-2 {
  min-height: 189px;
  width: 406px;
  height: auto;
  margin: 0 17px 0 auto;
}

.u-section-2 .u-container-layout-6 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-2 .u-text-5 {
  margin: 36px 0 0;
}

.u-section-2 .u-text-6 {
  margin: 20px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 989px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 143px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 143px;
  }

  .u-section-2 .u-image-1 {
    min-height: 476px;
  }

  .u-section-2 .u-group-1 {
    width: 402px;
    margin-left: 0;
    height: auto;
  }

  .u-section-2 .u-container-layout-4 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-2 .u-image-2 {
    min-height: 476px;
  }

  .u-section-2 .u-group-2 {
    width: 402px;
    margin-right: 0;
    height: auto;
  }

  .u-section-2 .u-container-layout-6 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1010px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-image-1 {
    min-height: 365px;
  }

  .u-section-2 .u-group-1 {
    width: 292px;
  }

  .u-section-2 .u-image-2 {
    min-height: 365px;
  }

  .u-section-2 .u-group-2 {
    width: 292px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1311px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 60px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-image-1 {
    min-height: 436px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-group-1 {
    width: 373px;
    margin-top: 154px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
  }

  .u-section-2 .u-image-2 {
    min-height: 436px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-group-2 {
    width: 373px;
    margin-top: 154px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1005px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-group-1 {
    width: 259px;
  }

  .u-section-2 .u-group-2 {
    width: 259px;
  }
}