 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 786px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 51px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  margin: 50px auto 0 72px;
}

.u-section-1 .u-image-1 {
  width: 450px;
  height: 397px;
  margin: 109px auto 0 26px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 709px;
  margin: -456px 26px 9px auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 594px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-form-1 {
  height: 430px;
  margin: 39px 63px 0 26px;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
  margin-right: auto;
}

.u-section-1 .u-form-group-2 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-1 .u-form-group-3 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
  margin-right: auto;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

.u-section-1 .u-form-group-5 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-1 .u-btn-2 {
  --radius: 30px;
  background-image: none;
  border-style: solid;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  margin-left: auto;
  margin-right: auto;
  font-size: 1rem;
  padding: 18px 0 19px;
}

@media (max-width: 1399px) {
  .u-section-1 .u-sheet-1 {
    min-height: 853px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-image-1 {
    width: 354px;
    height: 363px;
    margin-top: 128px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -441px;
    margin-bottom: 0;
  }

  .u-section-1 .u-form-1 {
    width: 523px;
  }

  .u-section-1 .u-btn-2 {
    font-size: 1.125rem;
  }
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 852px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 56px;
    margin-right: 274px;
  }

  .u-section-1 .u-image-1 {
    width: 293px;
    height: 293px;
    margin-top: 141px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 605px;
    margin-top: -405px;
    margin-right: -36px;
    margin-bottom: 20px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 589px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-form-1 {
    height: 432px;
    margin-top: 32px;
    margin-right: 50px;
    margin-left: 11px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 518px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 60px;
    margin-right: 54px;
  }

  .u-section-1 .u-image-1 {
    width: 243px;
    height: 197px;
    margin-top: 27px;
    margin-left: auto;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 360px;
    margin-top: -208px;
    margin-right: 27px;
    margin-bottom: 60px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-form-1 {
    height: 434px;
    margin-right: 91px;
    margin-left: -39px;
    width: 279px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 614px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2rem;
    margin-top: 41px;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.3333333333333333rem;
    width: auto;
    margin-left: 36px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 42px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -220px;
    margin-right: auto;
  }

  .u-section-1 .u-form-1 {
    margin-right: 31px;
    margin-left: 41px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 619px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 102px;
  }

  .u-section-1 .u-image-1 {
    height: 162px;
    width: 184px;
    margin-top: 34px;
    margin-left: 66px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 351px;
    margin-top: -179px;
    margin-right: -11px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 94px;
  }

  .u-section-1 .u-form-1 {
    margin-left: 31px;
    margin-right: 90px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 635px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 642px;
  margin: 12px auto 0 45px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 206px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-text-1 {
  margin: 46px 782px 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.125rem;
  margin: 41px 585px 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 378px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-text-3 {
  margin: 33px 572px 0 0;
}

.u-section-2 .u-text-4 {
  font-size: 1.125rem;
  margin: 10px 612px 0 0;
}

.u-section-2 .u-text-5 {
  margin: 20px 572px 0 0;
}

.u-section-2 .u-text-6 {
  font-size: 1.125rem;
  margin: 10px 572px 0 0;
}

.u-section-2 .u-social-icons-1 {
  white-space: nowrap;
  height: 51px;
  width: 222px;
  min-width: 68px;
  margin: 63px 721px 0 12px;
}

.u-section-2 .u-icon-1 {
  height: 32px;
}

.u-section-2 .u-icon-2 {
  height: 32px;
}

.u-section-2 .u-icon-3 {
  height: 32px;
}

.u-section-2 .u-image-1 {
  width: 477px;
  height: 405px;
  margin: -484px 63px 60px auto;
}

@media (max-width: 1399px) {
  .u-section-2 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 3px;
    margin-right: 290px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-right: 617px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.25rem;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.25rem;
  }

  .u-section-2 .u-text-6 {
    font-size: 1.25rem;
  }

  .u-section-2 .u-social-icons-1 {
    margin-right: 420px;
    margin-left: 0;
  }
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 734px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 36px;
    margin-right: auto;
    margin-left: 28px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 320px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 0;
  }

  .u-section-2 .u-image-1 {
    width: 392px;
    height: 354px;
    margin-top: -698px;
    margin-right: 78px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 706px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 29px;
    margin-left: -21px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 305px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 559px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 343px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 0;
  }

  .u-section-2 .u-image-1 {
    width: 297px;
    height: 233px;
    margin-top: -612px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 480px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 12px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 199px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 24px;
    margin-right: 287px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1rem;
    width: auto;
    margin-top: 11px;
    margin-right: 483px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 251px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 41px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 470px;
  }

  .u-section-2 .u-text-4 {
    font-size: 1rem;
    width: auto;
    margin-top: 2px;
    margin-right: 510px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-right: 470px;
  }

  .u-section-2 .u-text-6 {
    font-size: 1.1111111111111112rem;
    margin-right: 470px;
  }

  .u-section-2 .u-social-icons-1 {
    height: 29px;
    width: 98px;
    margin-top: 19px;
    margin-right: auto;
    margin-left: 10px;
  }

  .u-section-2 .u-image-1 {
    width: 189px;
    height: 165px;
    margin-top: -426px;
    margin-right: 50px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 465px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 374px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: -34px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 196px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 28px;
    margin-right: 87px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 305px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 304px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 0;
  }

  .u-section-2 .u-text-3 {
    margin-top: 34px;
    margin-right: 292px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 332px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 292px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 292px;
  }

  .u-section-2 .u-social-icons-1 {
    height: 23px;
    width: 142px;
    margin-right: 193px;
    margin-left: 6px;
  }

  .u-section-2 .u-image-1 {
    width: 133px;
    height: 116px;
    margin-top: -439px;
    margin-right: 37px;
  }
}