 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 827px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 51px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  margin: 50px auto 0 72px;
}

.u-section-1 .u-image-1 {
  width: 450px;
  height: 397px;
  margin: 97px auto 0 26px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 583px;
  margin: -444px 26px 51px auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 594px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-form-1 {
  height: 432px;
  width: 523px;
  margin: 0 auto;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
  margin-right: auto;
}

.u-section-1 .u-form-group-2 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-1 .u-form-group-3 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
  margin-right: auto;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

.u-section-1 .u-form-group-5 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-1 .u-btn-2 {
  --radius: 30px;
  background-image: none;
  border-style: solid;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  margin-left: auto;
  margin-right: auto;
  font-size: 1rem;
  padding: 18px 0 19px;
}

@media (max-width: 1399px) {
  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-btn-2 {
    font-size: 1.125rem;
  }
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1142px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 318px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 89px;
    margin-left: 20px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -464px;
    margin-right: -66px;
    margin-bottom: 50px;
  }

  .u-section-1 .u-form-1 {
    width: 279px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 793px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-1 .u-image-1 {
    width: 243px;
    height: 197px;
    margin-top: 142px;
    margin-right: 437px;
    margin-left: 40px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 360px;
    margin-top: -321px;
    margin-bottom: 37px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 519px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
  }

  .u-section-1 .u-form-1 {
    height: 434px;
    margin-right: 91px;
    margin-left: -39px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1087px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2rem;
    width: auto;
    margin-top: 41px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.3333333333333333rem;
    width: auto;
    margin-left: 36px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 553px;
    margin-right: 297px;
    margin-left: 125px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -731px;
    margin-right: auto;
    margin-bottom: 60px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 31px;
    margin-left: 41px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1218px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 34px;
  }

  .u-section-1 .u-image-1 {
    height: 162px;
    width: 184px;
    margin-top: 656px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -801px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-form-1 {
    margin-left: 31px;
    margin-right: 91px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 795px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 805px;
  margin: 41px auto 0 45px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 313px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-text-1 {
  margin: 46px 782px 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.125rem;
  margin: 41px 585px 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 426px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-text-3 {
  margin: 33px 572px 0 0;
}

.u-section-2 .u-text-4 {
  font-size: 1.125rem;
  margin: 10px 612px 0 0;
}

.u-section-2 .u-text-5 {
  margin: 20px 572px 0 0;
}

.u-section-2 .u-text-6 {
  font-size: 1.125rem;
  margin: 10px 572px 0 0;
}

.u-section-2 .u-social-icons-1 {
  white-space: nowrap;
  height: 51px;
  width: 222px;
  min-width: 68px;
  margin: 63px 721px 0 12px;
}

.u-section-2 .u-icon-1 {
  height: 32px;
}

.u-section-2 .u-icon-2 {
  height: 32px;
}

.u-section-2 .u-icon-3 {
  height: 32px;
}

.u-section-2 .u-image-1 {
  width: 477px;
  height: 405px;
  margin: -603px 63px 60px auto;
}

@media (max-width: 1399px) {
  .u-section-2 .u-layout-wrap-1 {
    margin-top: 30px;
    margin-right: 290px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.25rem;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.25rem;
  }

  .u-section-2 .u-text-6 {
    font-size: 1.25rem;
  }

  .u-section-2 .u-social-icons-1 {
    margin-right: 583px;
    margin-left: 0;
  }
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 774px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 36px;
    margin-right: 135px;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 320px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 595px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 360px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-right: 559px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 500px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 487px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 527px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 487px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 487px;
  }

  .u-section-2 .u-social-icons-1 {
    margin-right: 498px;
  }

  .u-section-2 .u-image-1 {
    width: 297px;
    height: 233px;
    margin-top: -629px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 581px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 39px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 208px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 24px;
    margin-right: 287px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1rem;
    width: auto;
    margin-top: 11px;
    margin-right: 320px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 385px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 55px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 307px;
  }

  .u-section-2 .u-text-4 {
    font-size: 1rem;
    width: auto;
    margin-top: 2px;
    margin-right: 347px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-right: 307px;
  }

  .u-section-2 .u-text-6 {
    font-size: 1.1111111111111112rem;
    margin-right: 307px;
  }

  .u-section-2 .u-social-icons-1 {
    height: 29px;
    width: 98px;
    margin-top: 19px;
    margin-right: auto;
    margin-left: 10px;
  }

  .u-section-2 .u-image-1 {
    width: 189px;
    height: 165px;
    margin-top: -558px;
    margin-right: 50px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 502px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 87px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 120px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 276px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 0;
  }

  .u-section-2 .u-text-3 {
    margin-top: 34px;
    margin-right: 107px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 147px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 107px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 107px;
  }

  .u-section-2 .u-social-icons-1 {
    height: 23px;
    width: 142px;
    margin-right: 193px;
    margin-left: 6px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -324px;
    margin-right: 0;
  }
}